{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if title %}
  <title>Projects - {{title}}</title>
  {% else %}
    <title> Projects </title>
  {% endif %}

  {% block styles%}
    {% bootstrap_css %}
    <!--<link rel="stylesheet" href="{% static 'css/basephotos.css' %}">-->
  {% endblock %}
  {% load static %}
  <style>
    @import url(//fonts.googleapis.com/css?family=indie+flower);
    body {
      background-color: rgb(230, 224, 216);
      font-family: 'indie flower', sans-serif;
      padding-left:0;
    }
    
    h1 {
      color: rgb(26, 23, 23);
      margin-left: 40px;
    }
    h4 {color: rgba(27, 27, 25, 0.815); font-size:30px;
    }
    h2 {
      color: rgb(59, 72, 117);
    }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
    </body>
</html>
   