{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %
{% block content %}
{{block.super}}
<body>
<div class="container">
<h1 style =text-align:center>Projects<h1>
<!-- start photo display-->
{% for one in projects %}
<div class="photo-container">
  <img src="{{one.address.url}}" alt="martins photo gallery" width="50%">
  <h4><span style="color:rgb(151, 64, 24);">Image Name:</span><br>{{moja.title}}</h4>
  <h4><span style="color:rgb(151, 64, 24);">Image Description:</span><br>{{moja.description}}</h4>
  <h4><span style="color:rgb(151, 64, 24);">Image Category:</span><br>{{moja.category}}</h4>
  <a href="{{one.address.url}}" class="button" target="_blank">view image</a>
</div>
<hr>
   {% endfor %}
  </div>
</body>
    {% block scripts %}
        <script src="static/scripts.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
{% endblock %}
