{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Project</title>
        {{form.media}}
       
</head>
<body>
    <h4>  New Project</h4>
<div class="container-fluid">

        <form  action="{%url 'index'%}" method="post">
          {%csrf_token%}
        {% bootstrap_form form layout='inline' %}
          <input type="submit" value="Subscribe">
        </form>
      
      </div>



</div>
         <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1"></div>
        </div>
</div>
{% endblock %}
</body>